/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff6f61;
    color: #fff; /* White text color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

.wrapper {
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

#box {
    background-color: rgba(222, 222, 222, 0.7); /* Semi-transparent black background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Box shadow for the form */
    padding: 20px;
    text-align: left;
    color: black;
}

/* Input Boxes */
.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box input,
.input-box select {
    width: calc(100% - 20px);
    padding: 12px;
    border: none;
    border-bottom: 2px solid #4CAF50; /* Bottom border color */
    background-color: transparent; /* Transparent background */
    outline: none;
    color: #000; /* Text color */
    font-size: 16px;
}

/* Submit Button */
#button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Darker shade of blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#button:hover {
    background-color: #45a049; /* Darker shade of blue on hover */
}

/* Registration Link */
.register-links {
    margin-top: 20px;
    text-align:center;
}

.register-links a {
    color: #09294b; /* Blue color for links */
    text-decoration: none;
}

.register-links a:hover {
    text-decoration: underline;
}
